
.section{
    width: 100%;
    background-color: #fff;
    color: #000;
  }
  
  
  
  .section__content{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6 1fr;
    justify-items: left;
  }
  
  .section__content--box{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    padding: 1em;
  
    & img{
      max-height: 92px;
    }
  }
  
  .box__content{
    display: flex;
    flex-direction: column;
    gap: 10px;
  
    & p{
      font-size: 24px;
    }
  
    & a{
      font-size: 20px;
      line-height: 28px;
      color: #4C5FD5;
      text-decoration: none;
    }
  
    & a:hover{
      text-decoration: underline;
    }
  }

  @media ( 400px > width < 1000px  ) {
    .section__content{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(4 1fr);
      justify-items: left;
      align-content: center;
      padding: 10%;
      gap: 40px;
      border: 1px solid red;
    }

    .section__content--box{
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      height: auto;

      & h4, p{
        margin: 0;
      }
    }


  }

  @media ( width > 1000px  ){

    .section__content{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(4 1fr);
      justify-items: left;
      align-content: center;
      padding: 10%;
      gap: 40px;
    }

  }
  
  
  
  